* {
    margin: 0px;
    padding: 0px;
}

body{
    background: url(fundo.jpg);
}

.logo{
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

ul{
    margin-left: 30px;
    width: 60%;
}

li{
    display: inline-block;
    margin: 25px 20px;
    font-size: 1em;
}

.li1 a{
    color: rgb(25, 90, 148);
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

a:hover{
    color: rgb(25, 90, 148);
    background-color: white;
}

.postagem{
    margin: 10px 50px;
    padding-top: 15px;
    text-align: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #FFF, rgb(187, 205, 221));
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    color: rgb(25, 90, 148);
}

.imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner{
    margin-top: 15px;
    border-radius: 20px;
    min-width: 200px;
    width: 30%;
    margin: 10px;
}

.texto{
    margin-top: 15px;
    padding: 15px;
}
