* {
    margin: 0px;
    padding: 0px;
}

body{
    background: url(fundo.jpg);
}

.logo{
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

ul{
    margin-left: 30px;
    width: 60%;
}

li{
    display: inline-block;
    margin: 25px 20px;
    font-size: 1em;
}

.li4 a{
    color: rgb(25, 90, 148);
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

a:hover{
    color: rgb(25, 90, 148);
    background-color: white;
}

.formulario{
    margin: 30px 50px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upulo{
    border-radius: 7px;
    max-height: 200px;
}

iframe{
    border: none;
    height: 520px;
}

@media (max-width: 600px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    ul{
        margin-left: 0px;
        width: 100%;
    }

    li{
        display: inline-block;
        margin: 25px 5px;
        font-size: 1em;
    }

    a{
        padding: 5px;
     }

     .logo{
        width: 125px;
        height: 125px;
    }
    }
